<div class="signUpContainer">
  <h3>Reset password</h3>
  <form *ngIf="state">
    <div >
      <md-input-container>
        <input mdInput placeholder="Username" name="username" type="text" [(ngModel)]="username" >
      </md-input-container>
      <button id="resetpswd" class="button buttonOrange" (click)="requestResetPasswd()">SEND REQUEST</button>
    </div>
  </form>

  <form *ngIf="!state">
    <md-input-container>
      <input mdInput placeholder="Password" name="password1" type="text" [(ngModel)]="password1" >
    </md-input-container>
    <br>
    <md-input-container>
      <input mdInput placeholder="Confirm password" name="password2" type="text" [(ngModel)]="password2" >
    </md-input-container>
    <br>
    <button class="button buttonOrange" (click)="ResetPasswd()"> Save </button>
  </form>
</div>

  